header {
  width: 100%;
  padding: 1.6rem 1.6rem 0;
  background: linear-gradient(315deg, #2966c2, #2865c2, #1e4b8f);
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.circle {
  border-radius: 100%;
  background: #fff2;
  position: absolute;
}

.circle1 {
  height: 12rem;
  width: 12rem;
  bottom: -10%;
  right: 11rem;
}

.circle2 {
  height: 26rem;
  width: 26rem;
  bottom: -10%;
  right: -8rem;
}

.wheelIcon img {
  width: 90rem;
  height: 90rem;
  filter: invert(100%) blur(10px);
  opacity: 0.04;
  position: absolute;
  bottom: -3rem;
  right: -10rem;
  z-index: -1;
  animation: rotate 15s linear infinite;
}

.boxMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff4;
  animation: slideY 1s;
}

.imageLogo {
  width: 4.7rem;
  animation: fadeIn 1s;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
}

nav a {
  color: white;
  font-size: clamp(0.9rem, 2.5vw, 2rem);
  text-shadow: 1px 1px 2px #0002;
  padding: 0.8rem;
  border-radius: 0.8rem;
  white-space: nowrap;
}

nav a:hover {
  background: #fff2;
}

.containerSlogan {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.2rem;
}

.boxSlogan {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.6rem;
}

.boxSlogan h1 {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px #0002;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s 1s steps(25) both;
}

.boxSlogan p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px #0002;
  animation: fadeIn 1s;
}

.boxSlogan button {
  padding: 0.6rem;
  border-radius: 1.2rem;
  width: 10rem;
  background: linear-gradient(#ffc44f, #cc9d3f);
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px #0004;
  box-shadow: 1px 1px 2px #0002;
  transition: filter 200ms, scale 200ms;
  animation: pulse 1s 3.7s;
}

.boxSlogan button:hover {
  cursor: pointer;
  filter: brightness(1.05);
  scale: 1.01;
}

.boxImageSaleswoman img {
  width: 14rem;
  position: relative;
  z-index: 1;
  bottom: -0.4rem;
  animation: slideX 1s;
}

@media (min-width: 768px) {
  header {
    padding: 2.4rem 2.4rem 0;
  }

  .circle1 {
    height: 18rem;
    width: 18rem;
    bottom: -15%;
    right: 15rem;
  }

  .circle2 {
    height: 34rem;
    width: 34rem;
    bottom: -5rem;
    right: -10rem;
  }

  .wheelIcon img {
    width: 140rem;
    height: 140rem;
    animation: rotate 17s linear infinite;
    bottom: -3rem;
    right: -8rem;
  }

  .imageLogo {
    width: 6.8rem;
  }

  .nav ul {
    gap: 1.6rem;
  }

  .containerSlogan {
    margin-top: 1.6rem;
  }

  .boxSlogan {
    max-width: 48rem;
    gap: 2rem;
  }

  .boxSlogan h1 {
    font-size: 2.4rem;
    animation: typing 4s 1s steps(35) both;
  }

  .boxSlogan p {
    font-size: 1.6rem;
  }

  .boxSlogan button {
    font-size: 1.6rem;
    padding: 0.8rem;
    width: 14rem;
    animation: pulse 1s 3.1s;
  }

  .boxImageSaleswoman img {
    width: 18rem;
  }
}

@media (min-width: 1024px) {
  .circle1 {
    height: 24rem;
    width: 24rem;
    bottom: -20%;
    right: 25rem;
  }

  .circle2 {
    height: 48rem;
    width: 48rem;
    bottom: -10rem;
    right: -10rem;
  }

  .wheelIcon img {
    width: 190rem;
    height: 190rem;
    animation: rotate 20s linear infinite;
    bottom: -3rem;
    right: -8rem;
  }

  .boxMenu {
    border-bottom: 1.5px solid #fff4;
  }

  .imageLogo {
    width: 8.2rem;
  }

  nav ul {
    gap: 2rem;
  }

  .containerSlogan {
    margin-top: 2rem;
  }

  .boxSlogan {
    max-width: 64rem;
    gap: 2.4rem;
  }

  .boxSlogan h1 {
    font-size: 3.2rem;
    animation: typing 5s 1s steps(35) both;
  }

  .boxSlogan p {
    font-size: 2rem;
  }

  .boxSlogan button {
    padding: 1rem;
    width: 18rem;
    font-size: 2rem;
    animation: pulse 1s 3.5s;
  }

  .boxImageSaleswoman img {
    width: 24rem;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 2.2rem 2.8rem 0;
  }

  .circle1 {
    height: 28rem;
    width: 28rem;
    bottom: -20%;
    right: 28rem;
  }

  .circle2 {
    height: 52rem;
    width: 52rem;
    bottom: -10rem;
    right: -8rem;
  }

  .wheelIcon img {
    width: 240rem;
    height: 240rem;
    filter: invert(100%) blur(12px);
    animation: rotate 26s linear infinite;
    bottom: -3rem;
    right: -6rem;
  }

  .boxMenu {
    border-bottom: 1.8px solid #fff4;
  }

  .imageLogo {
    width: 9rem;
    margin-bottom: 0.2rem;
  }

  nav ul {
    gap: 3.2rem;
  }

  nav a {
    font-size: clamp(0.9rem, 2.5vw, 2.2rem);
    padding: 1rem;
  }

  .containerSlogan {
    margin-top: 2rem;
  }

  .boxSlogan {
    max-width: 68rem;
    gap: 2.8rem;
  }

  .boxSlogan h1 {
    font-size: 3.2rem;
    animation: typing 6s 1s steps(35) both;
  }

  .boxSlogan p {
    font-size: 2.2rem;
  }

  .boxSlogan button {
    padding: 1.2rem;
    width: 20rem;
    font-size: 2.2rem;
    animation: pulse 1s 3.6s;
  }

  .boxImageSaleswoman img {
    width: 26rem;
  }
}

@media (min-width: 2560px) {
  header {
    padding: 3.2rem 4rem 0;
  }

  .circle1 {
    height: 56rem;
    width: 56rem;
    bottom: -20%;
    right: 40rem;
  }

  .circle2 {
    height: 90rem;
    width: 90rem;
    bottom: -14rem;
    right: -14rem;
  }

  .wheelIcon img {
    width: 350rem;
    height: 350rem;
    filter: invert(100%) blur(18px);
    animation: rotate 34s linear infinite;
    bottom: -3rem;
    right: 18rem;
  }

  .boxMenu {
    border-bottom: 2px solid #fff4;
  }

  .imageLogo {
    width: 14rem;
    margin-bottom: 0.6rem;
  }

  nav ul {
    gap: 3.8rem;
  }

  nav a {
    font-size: clamp(2.9rem, 2.5vw, 3.8rem);
    padding: 1.8rem;
  }

  .containerSlogan {
    margin-top: 2rem;
  }

  .boxSlogan {
    max-width: 130rem;
    gap: 5.8rem;
  }

  .boxSlogan h1 {
    font-size: 5.8rem;
    animation: typing 6s 1s steps(35) both;
  }

  .boxSlogan p {
    font-size: 3.8rem;
  }

  .boxSlogan button {
    padding: 2.2rem;
    width: 32rem;
    font-size: 3.6rem;
    border-radius: 20px;
    animation: pulse 1s 3.6s;
  }

  .boxImageSaleswoman img {
    width: 46rem;
  }
}
